{% include 'base.html' %} {% block content %} {% load static %}
<main class="container-fluid">
  <h2 class="mytitle">Select seat</h2>
  <canvas></canvas>
  <p id="seats-available" style="display: none">
    {{ show.theater.seats_available }}
  </p>
  <p id="seats-occupied" style="display: none">{{ show.seats_occupied }}</p>
  <form action="{% url 'book' show.id %}" method="POST">
    {% csrf_token %} {{ form }}
    <button type="submit">Submit</button>
    <button>Cancel</button>
  </form>
  <script src="{% static 'js/canvas.js' %}"></script>
</main>
{% endblock %}
