body {
    margin: 0px auto;
}
canvas {
    border: 1px solid black;
    background: rgb(175, 163, 220);
    margin: 0px auto;
    display: block;
}

.myclass {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.perf {
    max-width: 12rem;
    margin: 15px;
}

.message {
    margin: 0px auto;
    padding: 10px 10px;
    width: max(250px, 35vw);
    border: 1px solid #190928;
    border-radius: var(--pico-border-radius);
    background-color: #db90e8;
    align-content: center;
    text-align: center;
}

@media only screen and (max-width: 2400px) {
    .formclass {
        width: 65%;
        margin: 0px auto;
    }
    .inlinefields {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr 3fr 1fr 3fr;
        align-items: center;
        justify-items: center;
        grid-gap: 10px;
        input {
            min-width: 95px;
            max-width: 100%;
        }
    }
}

@media only screen and (max-width: 1024px) {
    .formclass {
        width: 75%;
        margin: 0px auto;
    }
    .inlinefields {
        grid-template-columns: 1fr 3fr 1fr 3fr 1fr 3fr;
        input {
            min-width: 95px;
            max-width: 100%;
        }
    }
}


@media only screen and (max-width: 770px) {
    .formclass {
        width: 75%;
        margin: 0px auto;
    }
    .inlinefields {
        grid-template-columns: 0.3fr 0.7fr;
    }
}

@media only screen and (max-width: 550px) {
    .inlinefields {
        input {
            min-width: 135px;
            max-width: 100%;
        }
    }
}