{% extends "base.html" %}
<div class="formclass">
    {% for i in object_list %}
    <article>
        <h3>{{i.show.performance.name}}</h3>
        <small>{{i.date_time}}</small>
        <p></p>
        <b>Booked Seats:</b>
        {{i.seat}}
        <br />
        {% if i.general %}
        <b>General:</b> {{i.general}}
        {% endif %}
        {% if i.senior %}
        <b>Senior:</b> {{i.senior}}
        {% endif %}
        {% if i.children %}
        <b>Children:</b> {{i.children}}
        {% endif %}
        <br />
        <small>Total before Tax:</small> ₹{{i.total_b4_tax}}
        <br />
        <small>Total Tax:</small> ₹{{i.total_tax}}
        <br />
        <b>Total:</b> ₹{{i.net_total}}
    </article>
    {% endfor %}
</div>