{% extends "base.html" %}
{% block content %}
<main class="container-fluid">
    <h2 class="mytitle">Currently running Performances</h2>
    <div class="myclass">
        {% for performance in object_list %}
        <article>
            <div class="perf">
                {% if performance.cover_picture %}
                <img src={{ performance.cover_picture.url }} alt="{{performance.name}} Cover Page"></img>
                {% endif %}
                <hgroup>
                    <a href="{% url 'show-detail' performance.slugfield %}">
                        <h4>{{ performance.name }}</h4>
                    </a>
                    <p>&#127758; {{ performance.language }}</p>
                </hgroup>
                <p><strong>Starring:</strong> {{ performance.artist }}</p>
                <p>&#128343; {{ performance.runtime }}</p>
            </div>
        </article>
        {% endfor %}
    </div>
</main>
{% endblock %}