{% include 'base.html' %}
{% block content %}
<main class="container-fluid">
    <h2 class="mytitle">Select shows currently running in Cinema</h2>
    {% load static %}
    <div class="myclass">
        {% for show in object_list %}
        <article>
                <div class="perf">
                <img src="{{show.performance.cover_picture.url}}" alt="Performance Cover Page"></img>
                <p><b>{{ show.date_time }}</b></p>
                <p>{{ show.theater.multiplex.address }}</p>
                <p>{{ show.theater.kind }} {{ show.theater.screen_size }} {{ show.theater.audio_features }}</p>
                <p>{{ show.performance.language }}</p>
                <p>{{ show.performance.runtime }}</p>
                <a href="{% url 'book' show.id %}">
                    <button class="pico-background-violet-600">Book your tickets</button>
                </a>
            </div>
        </article>
        {% endfor %}

    </div>

</main>
{% endblock %}